<html>
    <head>
        <title>WebApp</title>
    </head>
    <body>
        <hr>
        <h1>WebApp</h1>
        <hr>
        <a href="/index">Один слой</a>
        <a href="/2">Два слоя</a>
        <p>Форма:</p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.region.label }}<br>
                {{ form.region }}<br>
            </p>
            <p>
                {{ form.material_1.label }}<br>
                {{ form.material_1 }}<br><br>
                {{ form.material_2 }}<br><br>
                {{ form.material_3 }}<br>
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>
