<html>
    <head>
        <title>WebApp</title>
    </head>
    <body>
        <hr>
        <h1>WebApp</h1>
        <hr>
        <p>Регион:</p>
        <p><input type="search" list="character">
            <datalist id="character">
                {% for reg in regions %}
                <option value="{{ reg }}"></option>
                {% endfor %}
             </datalist>
        </p>
        <p>
            <select class = "region">
                {% for reg in data.region %}
                <option value="{{ reg }}">{{ reg }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Материал:</p>
        <p>
            <select class = "material">
                {% for mat in data.material %}
                <option value="{{ mat }}">{{ mat }}</option>
                {% endfor %}
            </select>
        </p>


        <hr>
        <p>Форма:</p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.region.label }}<br>
                {{ form.region }}<br>
            </p>
            <p>
                {{ form.material.label }}<br>
                {{ form.material }}<br>
            </p>
        </form>


    </body>
</html>
