<html>
    <head>
        <title>WebApp</title>
    </head>
    <body>
        <hr>
        <h1>WebApp</h1>
        <hr>
        <!-- <a href="/2">Два слоя</a>
        <a href="/3">Три слоя</a>
        <p>Форма:</p> -->
        <form action="" method="post" novalidate>
            <p>
                <label for="region">Выберите регион:</label>
                <br>
                <select name="region" id="region">
                    {% for region in data.regions %}
                        <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="material">Выберите материал:</label>
                <br>
                <select name="material" class="material">
                    {% for material in data.materials %}
                        <option value="{{ material.id }}">{{ material.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <a href="javascript:add()">Добавить</a>
                <a href="javascript:del()">Удалить</a>
                <a href="javascript:calculation()">Рассчитать</a>

                <p>Результат:</p>
                <p class="res_reg"></p>
                <p class="res_mat"></p>
                <p class="res_mat_list"></p>
                <p class="result"></p>
            </p>
        </form>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function add() {
            if ($('.material').length < 3) {
                $('.material:last').clone().insertAfter('.material:last');
            }
        }

        function del() {
            if ($('.material').length > 1) {
                $('.material:last').remove()
            }
        }

        function calculation() {
            region_id = $("#region").val();
            materials = [];

            material_blocks = $(".material")

            for (let i = 0; i < material_blocks.length; i++) {
                materials.push({
                    "material_id": material_blocks[i].value
                });
            }

            $.post('/calculation', {
                region_id: region_id,
                materials: materials
            }).done(function(response) {
                console.log(response);
                $(".res_reg").text('Регион: ' + response['region']);
                if ($('.material').length > 2)
                {
                    $(".res_mat").text('Выбраны материалы: ');
                    $(".res_mat_list").text(response['material_1'] + "<br/><b>" + '\r\n' + response['material_2'] + "<br/><b>" + '\r\n' + response['material_3']);
                }
                else if ($('.material').length > 1)
                {
                    $(".res_mat").text('Выбраны материалы: ');
                    $(".res_mat_list").text(response['material_1'] + "<br/><b>" + '\r\n' + response['material_2']);
                }
                else 
                {
                    $(".res_mat").text('Выбран материал: ');
                    $(".res_mat_list").text(response['material']);
                }
                // variants = [];
                // for (let i = 0; i < response['results'].length; i++) 
                // {
                //     variants.push({"variant": response['results'][i].value})
                //     $(".result").text(variants);
                // }
                // console.log(variants)
                $(".result").text('Варианты: ' + response['results']);
            }).fail(function() {
                console.log('error')
            });
        }
    </script>
</html>
